version: '3.8'

services:
  app:
    build:
      context: .
      args:
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
<<<<<<< HEAD
      
    container_name: radiant-hospital-app
=======
    container_name: taria-health-app
>>>>>>> 65ea65c (Dont buidk the app , i want to run in local machine)
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    working_dir: /app
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - radiant-hospital-network

  mysql:
    image: mysql:8.0
    container_name: radiant-hospital-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: taria_health_db
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_USER: taria_user
      MYSQL_PASSWORD: secret
    ports:
      - "3308:3306"
    volumes:
      - dbdata:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
    networks:
      - radiant-hospital-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: radiant-hospital-phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: secret
    depends_on:
      - mysql
    networks:
      - radiant-hospital-network

networks:
  radiant-hospital-network:
    driver: bridge

volumes:
  dbdata:
